<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>CONTACT US</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Contact Us </h1>
    <p>Email us at janedoe@gmail.com</p>
</body>
</html>